{% extends 'base.html' %}

{% block title %}
Tambah Siswa
{% endblock %}

{% block content %}

<div class="bg-white p-8 rounded-2xl shadow-md max-w-2xl mx-auto">

    <h1 class="text-3xl font-bold text-slate-800 mb-6">
        Tambah Siswa
    </h1>

    <form method="POST">

        {% csrf_token %}

        <div class="mb-4">
            <label class="block mb-2 font-semibold">
                Nama
            </label>

            <input
                type="text"
                name="nama"
                class="w-full border rounded-lg p-3"
                required
            >
        </div>

        <div class="mb-4">
            <label class="block mb-2 font-semibold">
                Umur
            </label>

            <input
                type="number"
                name="umur"
                class="w-full border rounded-lg p-3"
                required
            >
        </div>

        <div class="mb-4">
            <label class="block mb-2 font-semibold">
                Tanggal Lahir
            </label>

            <input
                type="date"
                name="tgl_lahir"
                class="w-full border rounded-lg p-3"
            >
        </div>

        <div class="mb-4">
            <label class="block mb-2 font-semibold">
                Status Hadir
            </label>

            <select
                name="status_hadir"
                class="w-full border rounded-lg p-3"
            >
                <option value="True">Hadir</option>
                <option value="False">Tidak Hadir</option>
            </select>
        </div>

        <div class="mb-6">
            <label class="block mb-2 font-semibold">
                Nilai Akhir
            </label>

            <input
                type="number"
                name="nilai_akhir"
                class="w-full border rounded-lg p-3"
            >
        </div>

        <button
            type="submit"
            class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded-xl"
        >
            Simpan
        </button>

    </form>

</div>

{% endblock %}