{% extends 'base.html' %}

{% block title %}
Hapus Siswa
{% endblock %}

{% block content %}

<div class="bg-white rounded-2xl shadow p-8">

    <h1 class="text-3xl font-bold text-red-600 mb-4">
        Hapus Data Siswa
    </h1>

    <p class="text-gray-600 mb-6">
        Apakah Anda yakin ingin menghapus data siswa berikut?
    </p>

    <div class="p-4 rounded-xl bg-slate-50 border mb-6">
        <p><strong>Nama:</strong> {{ siswa.nama }}</p>
        <p><strong>Umur:</strong> {{ siswa.umur }} Tahun</p>
        <p><strong>Nilai Akhir:</strong> {{ siswa.nilai_akhir }}</p>
    </div>

    <form method="POST">
        {% csrf_token %}

        <button
            type="submit"
            class="px-5 py-2 rounded-lg bg-red-500 hover:bg-red-600 text-white"
        >
            Ya, Hapus
        </button>

        <a
            href="{% url 'siswa_detail' siswa.id %}"
            class="px-5 py-2 rounded-lg bg-slate-200 hover:bg-slate-300"
        >
            Batal
        </a>

    </form>

</div>

{% endblock %}